.dialogItem  a{
    text-decoration: none;
    color: #eae8b7;
}


.dialogItem img {
    width: 40px;
    vertical-align: middle;
    height: 40px;
    border-radius: 50%;
    padding-top: 10px;
    padding-right: 2px;
}
