.nav {
  grid-area: n;
  background-color: #3C5F94;
  padding: 20px;
  width: 15vh;
}

.item {
  padding: 2px;
}

.item a {
  color: #EAE8B7;
  text-decoration: none;
}

.item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}