.nav {
  grid-area: n;
  background-color: #3C5F94;
  padding: 20px;
  width: 18vh;
  display: flex;
  flex-direction: column;
}

.nav img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.item {
  padding: 2px;
}

.item a {
  color: #EAE8B7;
  text-decoration: none;
}


.itemF {
  padding: 2px;
  padding-top: 60px;
}

.itemF a{
  color: #EAE8B7;
  text-decoration: none;
}

.friends {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.friends img {
  padding-top: 8px;
  margin-right: 2px;
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

